<div class="comment">
    <h2>Comment</h2>
    <form action="/comments" method="post">
        <label for="comment"></label>
      <textarea type="text" name="comment" id="comment" placeholder="comment"></textarea>
  
      <div>
        <button type="submit">Post</button>
      </div>
  
    </form>
  </div>



  <h1>Comments</h1>

  <ul>
    <% comments.forEach((comment) => { %>
      <li><%= comment.comment %></li>
    <% }); %>
  </ul>
  