
<div class="card-container">
<section class="all-bikes"> 

  <% for (let bike of bikes) { %>
    <div class="ui-card">
      <img src="<%= bike.image_url %>" alt="<%= bike.title %>">
      <section class="content">
        <h2>
          <a href="/bikes/<%= bike.id %>">
            <%= bike.title %>
          </a>
        </h2>
      
      </section>
      <footer class="content">
        <span>Like</span>
        <span>Stats</span>
      </footer>
    </div>


    <% } %>

</section> 

<!-- <%# for (let bike of bikes) { %>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <img src="<%#= bike.image_url %>" alt="<%#= bike.title %>">

      <section class="content">
        <h2>
          <a href="/bikes/<#%= bike.id %>">
            <%#= bike.title %>
          </a>
        </h2>
      
      </section>
    </div>

    <%# } %> -->