
<div class="index-background">
    
  </div>


<!-- <video src="https://res.cloudinary.com/tamaritmotorcycles/video/upload/dpr_auto/f_auto/q_auto/w_auto/production/storage/media/builders/video/builder.mp4" playsinline loop="loop" muted="muted" noaudio class="js-video-responsive js-video-responsive-mobile" video-playing="yes"></video> -->

