<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
    

</head>
<body class="index-body">


    <div class="index-topleft">MOTOSHARE</div>
    <div ><a class="index-center" href="/home">SHARE YOUR RIDE</a>  </div>


    



<div class="index-image">
</div>
</body>


<!-- <video src="https://res.cloudinary.com/tamaritmotorcycles/video/upload/dpr_auto/f_auto/q_auto/w_auto/production/storage/media/builders/video/builder.mp4" playsinline loop="loop" muted="muted" noaudio class="js-video-responsive js-video-responsive-mobile" video-playing="yes"></video> -->

