<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
    

</head>


    <body>
        <header>
           <a href="/home"> <img class="logo"  src="/images/motoshare.jpg" alt=""></a>
            <nav>
                <ul class="nav__links" >
                    <li class="hover-underline-animation"><a href="/home">Home</a></li>
                    <li class="hover-underline-animation"><a href="#">Brand</a></li>


                    <div class="dropdown">
                        <li class="hover-underline-animation" class="dropbtn"><a href="#">Categories</a></li>
                        <div class="dropdown-content">
                          <a href="/bikes/category/scrambler">Scrambler</a>
                          <a href="/bikes/category/caferacer">Cafe Racer</a>
                          <a href="#">Bobber</a>
                          <a href="#">Street</a>
                          <a href="#">Mini Bike</a>
                        </div>
                      </div>
                    



                    <li class="hover-underline-animation"><a href="/bikes/new">Share</a></li>
                </ul>
            </nav>
            <span class="logsign">
                <li class="hover-underline-animation"><a href="/login">Login</a></li>
                <li class="hover-underline-animation"><a href="/signup">Sign up</a></li>
        </span>
        </header>








<!-- <body>
    <%# if(userId) { %>
        <p>Logged in as <%#= user.email %></p>
        <form action="/logout" method="post">
            <input type="hidden" name="_method" value="delete">
            <button>Log out</button>
        </form>
        <#% } else { %>

            <a href="/signup">sign up</a>
    <#% } %> -->




<%- body %>

    




    </body>

</html>