<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    
</head>
<body>
   
        <p>Logged in as </p>
        <form action="/logout" method="post">
            <input type="hidden" name="_method"
            value="delete">
            <button>Log out</button>
        </form>
    
        <a href="/login"></a>
    
    <nav>
        <a href="/login">Login</a>
    </nav>
    <h1><a href="/">goodfoodhunting</a></h1>

    <%- body %>

    <footer>&copy; 2023</footer>
</body>
</html>