<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
    

</head>


    <body>
        <header>
            <img class="logo" src="/public/images/motoshare.jpg" alt="">
            <nav>
                <ul class="nav__links" >
                    <li><a href="/home">Home</a></li>
                    <li><a href="/">Stuff</a></li>
                    <li><a href="#">Categories</a></li>
                    <li><a href="/bikes/new">Share</a></li>
                </ul>
            </nav>
            <span class="logsign">
            <a class="" href="/login"><button class="navbtn">Log in</button></a>
            <a class="" href="/signup"><button class="navbtn">Sign up</button></a>
        </span>
        </header>








<!-- <body>
    <%# if(userId) { %>
        <p>Logged in as <%#= user.email %></p>
        <form action="/logout" method="post">
            <input type="hidden" name="_method" value="delete">
            <button>Log out</button>
        </form>
        <#% } else { %>

            <a href="/signup">sign up</a>
    <#% } %> -->




<%- body %>

    




    </body>

</html>