<h2>Share your bike</h2>

<form action="/bikes" method="post">
    <label for="">Title</label>
    <input type="text" name="title">
    <label for="">Image Url</label>
    <input type="text" name="image_url">
    <label for="">Brand</label>
    <input type="text" name="brand">
    <label for="">Model</label>
    <input type="text" name="model">
    <button>share</button>
</form>